<!-- [filter]="state.filter" -->
<kendo-grid [kendoGridBinding]="gridData" [height]="410" [pageable]="{
            buttonCount: buttonCount,info: info, type: type, pageSizes: [5, 10, 20], previousNext: previousNext
          }"
    sortable=true groupable=true filterable=true [skip]="state.skip" [sort]="state.sort" [pageSize]="state.take"
    [group]="state.group">
    <kendo-grid-column field="Id">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div class="customer-photo" [style.backgroundImage]="getUrl(dataItem.Id)"></div>
            <div class="customer-name">
                {{ dataItem.Id }}
            </div>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="CompanyName"></kendo-grid-column>
    <kendo-grid-column field="CompanyPresident"></kendo-grid-column>
    <kendo-grid-column field="PhoneNumber"></kendo-grid-column>
</kendo-grid>